*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: lightgrey;
}
header{
    text-align: right;
    height: auto;
    border: 1px solid black;
}
header {
    background-color: #dbdada;
    border: 1px solid rgb(0, 0, 0);
}
header nav ul li{
    padding: 0 20px 0 0;
    display: inline-block;
    list-style-type: none;
}
.sub_header{
    display: block;
    position: relative;
    top: 10%;
    list-style-type: none;
    text-align: left;
}
.sub_header ul{
    padding: 5px 0;
    margin: 0;
    background-color: #f3f3f3;
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
}
.sub_header ul li{
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}
.sechome{
    text-align: center;
    height: 80vh;
    padding: 0 100px;
    background-color: #e07373;
    border: 1px solid rgba(255, 0, 0, 0);
    margin-top: 10px;
}
.sechome h2{
    font-size: 3vw;

}
.sechome p{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    padding: 0 150px;
}

footer{
    height: 10vh;
    background-color: aquamarine;
}
footer p{
    padding: 20px 0 0 20px;
    font-weight: 500;
    margin-top: 10px;
}
.sign{
    display: inline-block;
    position: absolute;
    font-size: 20px;
    top: 40%;
    left: 50%;
    padding: 12px;
    transform: translateY(-50%) translateX(-50%);
    border: 1px solid black;
} 
.sign input{
    margin: 5px;
}

.secsign{
    background-color: #e07373;
    text-align: center;
    border: 1px solid rgba(255, 0, 0, 0);
    margin-top: 10px;
}
.secsign h2{
    font-size: 3vw;
}